body {
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url("image/bckgrnd2.GIF");
  cursor: crosshair;
}

p {
	font-size: 200px;
	color: white;
	font-family: 'Oxygen Mono', monospace;
}

.center-content {
	text-align: center;
	justify-content: center;
}
